@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: radial-gradient(circle, #ff69b4, #df80df, #af97fb, #73aaff, #2fb8fe, #50c0fb, #69c8f8, #80cff5, #aed8fc, #d2e3fe, #edf0fe, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: auto;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(4, 41, 74, 0.5);
  margin-top: 25%;
}
.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}
.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}
.caja__trasera div p {
  font-size: 16px;
  font-weight: 300;
}
.caja__trasera div p, .caja__trasera div button {
  margin-top: 30px;
}
.caja__trasera div button {
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 500ms;
}
.caja__trasera div button:hover {
  background: #fff;
  color: #46A2FD;
}

/*Formularios*/
.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46A2FD;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46A2FD;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}

.formulario__login {
  opacity: 1;
  display: block;
}

.formulario__register {
  display: none;
}

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }
  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }
  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }
  /*Formularios*/
  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }
  .contenedor__login-register form {
    position: relative;
  }
}
.formulario__login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google__login__btn {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px 12px;
  margin-top: 16px;
  text-decoration: none;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.google__login__btn:hover {
  background-color: #f1f1f1;
  border-color: #c6c6c6;
}

.google__login__btn__logo {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

@media (max-width: 850px) {
  .contenedor__login-register {
    display: none;
  }
  .contenedor__todo {
    display: none;
  }
}
* {
  outline-width: 0;
  font-family: "Roboto";
}

#formContainer {
  width: 300px;
  background: #fff;
  margin: 50px auto;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  height: 322px;
  transition: 0.3s ease;
}
#formContainer form {
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
}
#formContainer.toggle {
  height: 332px;
}

#switch {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background: #009688;
  z-index: 2;
  transition: 0.3s ease;
}
#switch .bar {
  width: 16px;
  height: 2px;
  background: #fff;
}
#switch .bar:before {
  content: "";
  background: #fff;
  width: 16px;
  height: 2px;
  position: absolute;
  display: flex;
  transform: rotate(90deg);
}
#switch:hover {
  background: #00796B;
}
#switch.toggle {
  transform: rotate(45deg);
}

.formHeader {
  padding-bottom: 25px;
}
.formHeader h1 {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.formDiv {
  margin-bottom: 15px;
  width: 100%;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.formDiv:last-child {
  margin-bottom: 0;
}
.formDiv input[type=text], .formDiv input[type=password], .formDiv input[type=email] {
  background: #f4f4f4;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  text-indent: 42px;
  color: #444;
  position: relative;
}
.formDiv .inputImage {
  position: absolute;
  top: 0;
  left: 0;
  background: #ddd;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.formDiv input[type=submit] {
  width: 100%;
  box-sizing: border-box;
  background: #009688;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}
.formDiv input[type=submit]:hover {
  background: #00796B;
}

#remember {
  display: flex;
  align-items: center;
  width: 150px;
  cursor: pointer;
}
#remember input[type=checkbox] {
  display: none;
}
#remember input[type=checkbox]:checked ~ .checkbox {
  background: #009688;
}
#remember input[type=checkbox]:checked ~ .checkbox:before {
  transform: translate(-50%, -50%) rotate(-45deg) scale(1, 1);
}
#remember .checkbox {
  height: 21px;
  width: 21px;
  background: #eee;
  display: inline-block;
  border-radius: 3px;
  position: relative;
  transition: 0.3s ease;
}
#remember .checkbox:before {
  content: "";
  display: block;
  position: absolute;
  top: 42%;
  left: 50%;
  width: 12px;
  height: 5px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(-45deg) scale(0, 0);
  transition: 0.3s ease;
}
#remember span {
  display: inline-block;
  padding-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.formFooter {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  width: 100%;
}
.formFooter a {
  display: block;
  text-decoration: none;
  background: #ddd;
  color: #222;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 0;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  transition: 0.3s ease;
}
.formFooter a:hover {
  background: #ccc;
}

#login {
  transition: 0.3s ease;
  opacity: 1;
  transform: scale(1, 1);
}
#login.toggle {
  opacity: 0.3;
  transform: scale(0.9, 0.9);
}

#register {
  background: #009688 !important;
  position: absolute;
  top: 100%;
  width: 100%;
  transition: 0.3s ease;
}
#register input[type=email], #register input[type=text], #register input[type=password] {
  background: #00796B;
  color: #eee;
}
#register .inputImage {
  background: #00695C;
  color: #fff;
}
#register h1 {
  color: #fff;
}
#register.toggle {
  top: 0;
}

@media (min-width: 850px) {
  #formContainer {
    display: none;
  }
}
@media (max-width: 849px) {
  #formContainer {
    display: block;
  }
}/*# sourceMappingURL=auth.css.map */