$main-bg-color: #fff;
$sidebar-width: 180px;
$sidebar-bg-color: #100901;
$sidebar-transition: 0.5s;
$container-transition: 0.4s;
$menu-btn-bg-color: #100901;
$menu-btn-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $main-bg-color;
}

.side-navbar {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: $sidebar-bg-color;
  transition: $sidebar-transition;
}

.nav-link {
  &:active, &:focus, &:hover {
    background-color: #ffffff26;
  }
}

.my-container {
  transition: $container-transition;

  input {
    border-radius: 2rem;
    padding: 2px 20px;
  }
}

.active-nav {
  margin-left: 0;
}

.active-cont {
  margin-left: $sidebar-width;
}

#menu-btn {
  background-color: $menu-btn-bg-color;
  color: $menu-btn-color;
  margin-left: -62px;
}

.bienvenido {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.btn-primary {
  background-color: white;
  border-color: white;
  color: black;
}

.btn-primary:hover {
  background-color: black;
  border-color: white;
  color: white;
}

p.lead {
  text-transform: capitalize;
  font-size: 18px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.rate-btn {
  background-color: #000;
  border-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: #333;
    border-color: #333;
    color: #fff;
  }

  &:active {
    background-color: #333;
    border-color: #333;
    color: #fff;
    box-shadow: none;
  }
}
