$main-bg-color: #fff;
$sidebar-width: 180px;
$sidebar-bg-color: #100901;
$sidebar-transition: 0.5s;
$container-transition: 0.4s;
$menu-btn-bg-color: #100901;
$menu-btn-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $main-bg-color;
}

.side-navbar {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: $sidebar-bg-color;
  transition: $sidebar-transition;
}

.nav-link {
  &:active, &:focus, &:hover {
    background-color: #ffffff26;
  }
}

.my-container {
  transition: $container-transition;

  input {
    border-radius: 2rem;
    padding: 2px 20px;
  }
}

.active-nav {
  margin-left: 0;
}

.active-cont {
  margin-left: $sidebar-width;
}

#menu-btn {
  background-color: $menu-btn-bg-color;
  color: $menu-btn-color;
  margin-left: -62px;
}

