#stars .btn i.bi-star::before {
    content: "\f005";
  }
  
  #stars .btn:not(:checked) i.bi-star::before {
    content: "\f006";
  }
  
  #stars .btn:hover i.bi-star::before,
  #stars .btn:focus i.bi-star::before,
  #stars .btn:checked i.bi-star::before {
    content: "\f005";
    color: #ffc107;
  }
  
  .custom-img {
    width: 500px;
}

@media only screen and (max-width: 425px) {
  .custom-img {
    padding-left: 0px;
}
}