<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <link rel="stylesheet" href="../static/sass/index.css">
    <title>Books</title>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li><a href="" class="logo">
            <img src="/static/images/logo.png" alt="">
            <span class="nav-item">DashBoard</span>
            </a></li>
            <li><a href="">
                <i class="fas fa-home"></i>
                <span class="nav-item">Home</span>
            </a></li>
            <li><a href="">
                <i class="fas fa-book"></i>
                <span class="nav-item">Books</span>
            </a></li>
            <li><a href="">
                <i class="fas fa-user"></i>
                <span class="nav-item">Account</span>
            </a></li>
            <!-- <li><a href="" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Logout</span>
            </a></li> -->
            <li class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <form method="POST" action="/logout">
                    <button type="submit" class="btn btn-primary">
                        Cerrar Sesion
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</div>

    
  <!-- Cerrar sesion -->
  <!-- <form method="POST" action="/logout">
    <button type="submit" class="btn btn-primary">
        Cerrar Sesion
    </button>
</form> -->


</body>
</html>